{% extends 'main/base.html' %}
{% block head %}
    <title>Create An Article </title>
{% endblock %}
{% block content %}

    {% if success %}
        <h4>Form submitted successfully</h4>

    {% endif %}

    <h1>Create An Article</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Article name"/>
        <textarea name="content" placeholder="content"></textarea>
        <select name="author">
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }}</option>  
            {% endfor %}
        </select>

        <button type="submit">Submit</button>
        <button type="reset">reset</button>

    </form>

{% endblock %}